@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables globales */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: var(--font-sans), sans-serif;
}


/* Animación pulse para los círculos degradados */
@keyframes pulse {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 0.5; }
}
.animate-pulse {
  animation: pulse 4s infinite;
}

.bg-custom {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
